<dsfr-button-group inline align="right">
    <button dsfrButton *dsfrButtonGroupItem [type]="currentTheme === ThemeOption.LIGHT ? 'primary' : 'secondary'" icon="sun" iconStyle="line" (click)="setTheme(ThemeOption.LIGHT)"></button>
    <button dsfrButton *dsfrButtonGroupItem [type]="currentTheme === ThemeOption.DARK ? 'primary' : 'secondary'" icon="moon" iconStyle="line" (click)="setTheme(ThemeOption.DARK)"></button>
    <button dsfrButton *dsfrButtonGroupItem [type]="currentTheme === ThemeOption.SYSTEM ? 'primary' : 'secondary'" icon="settings-5" iconStyle="line" (click)="setTheme(ThemeOption.SYSTEM)"></button>
</dsfr-button-group>